<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.bigflag.javadevplugin.commands.category"
            name="BigFlagDevPlugIn">
      </category>
      <command
            categoryId="com.bigflag.javadevplugin.commands.category"
            id="com.bigflag.javadevplugin.commands.createFluentAPICommand"
            name="添加Fluent API">
      </command>
      <command
            categoryId="com.bigflag.javadevplugin.commands.category"
            id="com.bigflag.javadevplugin.commands.createSingletonMgrCommand"
            name="改造为Singleton类">
      </command>
      <command
            categoryId="com.bigflag.javadevplugin.commands.category"
            id="com.bigflag.javadevplugin.commands.createEnhancedEnumCommand"
            name="改造为增强型枚举">
      </command>
            <command
            categoryId="com.bigflag.javadevplugin.commands.category"
            id="com.bigflag.javadevplugin.commands.createImmutableClassBuilderCommand"
            name="为immutable类添加Builder">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bigflag.javadevplugin.handlers.CreateFluentAPIHandler"
            commandId="com.bigflag.javadevplugin.commands.createFluentAPICommand">
      </handler>
      <handler
            class="com.bigflag.javadevplugin.handlers.CreateSingletonMgrHandler"
            commandId="com.bigflag.javadevplugin.commands.createSingletonMgrCommand">
      </handler>
      <handler
            class="com.bigflag.javadevplugin.handlers.CreateEnhancedEnumHandler"
            commandId="com.bigflag.javadevplugin.commands.createEnhancedEnumCommand">
      </handler>
      <handler
            class="com.bigflag.javadevplugin.handlers.CreateImmutableClassBuilderCommand"
            commandId="com.bigflag.javadevplugin.commands.createImmutableClassBuilderCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.bigflag.javadevplugin.menus.devmenu"
               label="大旗快速开发工具"
               mnemonic="M">
            <command
                  commandId="com.bigflag.javadevplugin.commands.createFluentAPICommand"
                  id="com.bigflag.javadevplugin.menus.createFluentAPICommand"
                  mnemonic="F">
            </command>
            <command
                  commandId="com.bigflag.javadevplugin.commands.createSingletonMgrCommand"
                  id="com.bigflag.javadevplugin.commands.createSingletonMgrCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="com.bigflag.javadevplugin.commands.createEnhancedEnumCommand"
                  id="com.bigflag.javadevplugin.commands.createEnhancedEnumCommand"
                  mnemonic="A">
            </command>
            <command
                  commandId="com.bigflag.javadevplugin.commands.createImmutableClassBuilderCommand"
                  id="com.bigflag.javadevplugin.commands.createImmutableClassBuilderCommand"
                  mnemonic="B">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
